<%- include("../partials/header"); -%>
<section class="pd-5">
    <h5 class="section-title h1">OUR MEMBERS</h5>
    <div class="container-fluid members">
        <div class="accordion" id="mainAccordion">
        <% for(let i=0;i<members.length;i++){ %> 
            <div class="card">
                <div class="card-header" id="member<%=i%>">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapse<%=i%>" aria-expanded="true" aria-controls="collapse<%=i%>">
                            <%= members[i].name %>
                        </button>
                    </h2>
                </div>
                <div id="collapse<%=i%>" class="collapse" aria-labelledby="heading<%=i%>" data-parent="#mainAccordion">
                    <div class="row card-body">
                        <div class="col-md-9">
                            <p>Batch: <%= members[i].batch %></p>
                            <p>Profession: <%= members[i].profession %></p>
                            <p>Email ID: <%= members[i].email %></p>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-warning">CHECK PROFILE</button>
                        </div>
                    </div>
                </div>  
            </div>  
            <% } %>
        </div>
    </div>
</section>
<%- include("../partials/footer"); -%>